<nav id="navbar">
    <div class="nav-container">
        <ul class="nav-menu">
            <li><a href="{% url 'index' %}">Главная страница</a></li>
            <li><a href="{% url 'login' %}">Вход</a></li>
            <li><a href="{% url 'registr' %}">Регистрация</a></li>
            <li><a href="{% url 'create_task' %}">Создать</a></li>
            <li><a href="{% url 'tasklist' %}">Мои задачи</a></li>
        </ul>

        <div class="theme-toggle">
            <button id="theme-toggle" class="theme-btn" aria-label="Переключить тему">
                <span id="theme-icon">🌙</span>
            </button>
        </div>

    </div>
</nav>
